{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un élève</h1>
    <div class="row">
        {{ form_start(form) }}
        <div class="row">
            <div class="col s6">
                {{ form_row(form.lastName) }}
            </div>
            <div class="col s6">
                {{ form_row(form.firstName) }}
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                {{ form_row(form.address) }}
            </div>
            <div class="col s6">
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                {{ form_row(form.phone) }}
            </div>
            <div class="col s6">
                {% for certificate in form.certificate %}
                    {{ form_row(certificate) }}
                {% endfor %}
            </div>

        </div>
        <input type="submit" class="waves-effect waves-light btn indigo darken-4" value="Valider"/>
    </div>
    {{ form_end(form) }}
{% endblock %}
