{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un élève</h1>
    {{ form_start(form) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.address) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.certificate) }}
    <input type="submit" class="waves-effect waves-light btn indigo darken-4" value="Valider"/>
    {{ form_end(form) }}
{% endblock %}
