{% extends 'base.html.twig' %}
{% block title %}
    {{ 'app.student.show.title'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ student.fullName }}</h1>
    <h3>{{ 'app.student.show.informations'|trans }}</h3>
    <a href="{{ path('register_new', {'id': student.id}) }}">{{ 'app.student.show.add_classroom_to_student'|trans }}</a>
    {{ form_start(form) }}
    <div class="row">
        <div class="col s6">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col s6">
            {{ form_row(form.firstName) }}
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            {{ form_row(form.phone) }}
        </div>
        <div class="col s6">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            {{ form_row(form.address) }}
        </div>
        <div class="col s6">
            <ul id="certificate-fields-list" data-length="{{ form.certificate|length }}"
                data-prototype="{{ form_widget(form.certificate.vars.prototype)|e }}">
                {% for certificate in form.certificate %}
                    {{ form_row(certificate) }}
                    {{ form_errors(certificate) }}
                {% endfor %}
            </ul>
            <a href="#" id="add-another-certificate">{{ 'commons.add'|trans }}</a>
        </div>
    </div>
    <input type="submit" class="waves-effect waves-light btn indigo darken-4" value="{{ 'commons.submit'|trans }}"/>
    {{ form_end(form) }}
    <a href="{{ path('student_index') }}">{{ 'commons.back'|trans }}</a>
    <table>
        <thead>
        <tr>
            <th>{{ 'app.student.show.year'|trans }}</th>
            <th>{{ 'app.student.show.classroom'|trans }}</th>
            <th>{{ 'commons.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for classroom in class %}
            <tr>
                <td>{{ classroom.promote.name }}</td>
                <td>{{ classroom.classroom.name }}</td>
                <td>
                    <a href="{{ path('stage_list', {'id': classroom.student.id }) }}">
                        {{ 'app.student.show.read_internship'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
