{% extends 'base.html.twig' %}
{% block title %}{{ 'app.classroom.new.title'|trans }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="center-align">
            <h1>{{ 'app.classroom.new.add_classroom'|trans }}</h1>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'commons.add'|trans }}" class="waves-effect waves-light btn indigo darken-4"/>
        <a href="{{ path('classe_index') }}" class="waves-effect waves-light btn red darken-4">
            {{ 'commons.back'|trans }}
        </a>
        {{ form_end(form) }}
    </div>
{% endblock %}
