{% extends 'base.html.twig' %}
{% block title %}{{ 'app.technology.index.title'|trans }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s6">
            <h1>{{ 'app.technology.index.technology_list'|trans }}</h1>
            <table>
                <thead>
                <tr>
                    <th>{{ 'app.technology.index.name'|trans }}</th>
                    <th>{{ 'commons.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for technology in technologies %}
                    <tr>
                        <td>{{ technology.name }}</td>
                        <td>
                            <a href="{{ path('technologie_delete', { 'id': technology.id }) }}">{{ "commons.delete"|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s6">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <input type="submit" class="waves-effect waves-light btn indigo darken-4" value="{{ 'commons.submit'|trans }}" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
