{% extends 'base.html.twig' %}
{% block title %}{{ 'app.company_type.index.title'|trans }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="center-align">
            <h3>{{ 'app.company_type.index.list_company_type'|trans }}</h3>
            <a class="btn-floating btn-large waves-effect waves-light indigo darken-4 modal-trigger"
               href="#modal-add-type">
                <i class="material-icons">add</i>
            </a>
        </div>
        <table class="responsive-table highlight striped">
            <thead>
            <tr>
                <th>{{ 'app.certificate.index.name'|trans }}</th>
                <th>{{ 'commons.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for type in types %}
                <tr>
                    <td>{{ type.name }}</td>
                    <td>
                        <a class="btn-floating waves-effect waves-light btn red darken-4 modal-trigger"
                           href="#modal-delete-type-{{ type.id }}">
                            <i class="material-icons">delete</i>
                        </a>
                        {#Modal supprimer#}
                        <div id="modal-delete-type-{{ type.id }}" class="modal modal-fixed">
                            <div class="modal-content">
                                <div class="center-align">
                                    <h4>{{ 'app.company_type.index.delete_type'|trans }}</h4>
                                    <a href="{{ path('company_type_delete', {'id': type.id }) }}" class="waves-effect waves-light btn red darken-4">
                                        {{ 'commons.delete'|trans }}
                                    </a>
                                    <a href="#" class="modal-action modal-close waves-effect waves-green btn indigo darken-4">
                                        {{ 'commons.back'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="modal-add-type" class="modal modal-fixed">
        <div class="container-form">
            {{ form_start(form) }}
            <div class="modal-content">
                <div class="row">
                    <div class="center-align">
                        <h5>{{ 'app.company_type.index.add_company_type'|trans }}</h5>
                    </div>
                    <div class="input-field">
                        {{ form_widget(form) }}
                    </div>
                    <div class="row">
                        <div class="col m6">
                            <input type="submit" value="{{ 'commons.add'|trans }}" class="waves-effect waves-light btn indigo darken-4"/>
                        </div>
                        <div class="col m6">
                            <a href="#" class="modal-action modal-close waves-effect waves-green btn red darken-4">
                                {{ 'commons.back'|trans }}
                            </a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
{% endblock %}
