{% extends 'base.html.twig' %}
{% block title %}{{ 'app.promote.index.title'|trans }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s6">
            <h1>{{ 'app.promote.index.school_list'|trans }}</h1>
            <table>
                <thead>
                <tr>
                    <th>{{ 'app.promote.index.year'|trans }}</th>
                    <th>{{ 'commons.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for promote in promotes %}
                    <tr>
                        <td>{{ promote.name }}</td>
                        <td>
                            <a href="{{ path('promo_delete', { 'id': promote.id }) }}">{{ 'commons.delete'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s6">
            <h1>{{ 'app.promote.index.add_year'|trans }}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'commons.add'|trans }}" class="waves-effect waves-light btn indigo darken-4"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
