{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s6">
            <h1>Liste des années scolaires</h1>
            <table>
                <thead>
                <tr>
                    <th>Année</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for promote in promotes %}
                    <tr>
                        <td>{{ promote.name }}</td>
                        <td>
                            <a href="{{ path('promo_delete', { 'id': promote.id }) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s6">
            <h1>Ajouter une année</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Ajouter" class="waves-effect waves-light btn indigo darken-4"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
