{% extends 'base.html.twig' %}
{% block title %}{{ 'app.company.title'|trans }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="center-align">
            <h3>{{ 'app.company.index.company_list'|trans }}</h3>
            <a class="btn-floating btn-large waves-effect waves-light indigo darken-4 modal-trigger"
               href="#modal-add-company">
                <i class="material-icons">add</i>
            </a>
        </div>
        <table class="responsive-table highlight striped">
            <thead>
            <tr>
                <th>{{ 'app.company.index.name'|trans }}</th>
                <th>{{ 'app.company.index.type'|trans }}</th>
                <th>{{ 'app.company.index.turnover'|trans }}</th>
                <th>{{ 'app.company.index.address'|trans }}</th>
                <th>{{ 'app.company.index.phone_number'|trans }}</th>
                <th>{{ 'commons.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.name }}</td>
                    <td>
                        {% if company.type is defined and company.type is not null %}
                            {{ company.type.name }}
                        {% endif %}
                    </td>
                    <td>{{ company.turnover }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.phoneNumber }}</td>
                    <td>
                        <a href="{{ path('entreprise_show', { 'id': company.id }) }}" class="waves-effect waves-light btn indigo darken-4">
                            {{ 'commons.read'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="modal-add-company" class="modal modal-fixed">
        <div class="container-form">
            <div class="row">
                {{ form_start(form) }}
                <div class="modal-content">
                    <div class="center-align">
                        <h5>{{ 'app.company.index.modal.title'|trans }}</h5>
                    </div>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col m4 s12">
                            <div class="input-field">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                        <div class="col m4 s12">
                            <div class="input-field">
                                {{ form_row(form.phoneNumber) }}
                            </div>
                        </div>
                        <div class="col m4 s12">
                            <div class="input-field">
                                {{ form_row(form.turnover) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6 s12">
                            <div class="input-field">
                                {{ form_widget(form.type, {"attr": {
                                    "class": "select2",
                                    "data-confirm": 'app.internship.new.confirm_technology'|trans,
                                    "data-url": path("add_company_type"),
                                }}) }}
                                <div class="company-type">
                                    {{ form_label(form.type) }}
                                </div>
                            </div>
                        </div>
                        <div class="col m6 s12">
                            <div class="input-field">
                                {{ form_widget(form.profesionnalReferent, {"attr": {"class": "select"}}) }}
                                {{ form_label(form.profesionnalReferent) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                {{ form_widget(form.address, {"attr": {"class": "materialize-textarea"}}) }}
                                {{ form_label(form.address) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m6 s12">
                            <input type="submit" value="{{ 'commons.add'|trans }}" class="waves-effect waves-light btn indigo darken-4"/>
                        </div>
                        <div class="col m6 s12">
                            <a href="#" class="modal-action modal-close waves-effect waves-green btn red darken-4">
                                {{ 'commons.back'|trans }}
                            </a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
{% endblock %}
