{% extends 'base.html.twig' %}
{% block title %}Entreprise - détails{% endblock %}
{% block body %}
    <h1>Informations de l'entreprise</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.turnover) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.profesionnalReferent) }}
    {{ form_row(form.address) }}
    <input type="submit">
    {{ form_end(form) }}
    <a href="{{ path('profesionnalReferent_new') }}">Ajouter un référent</a><br>
    <a href="{{ path('company_type_new') }}">Ajouter un type d'entreprise</a><br>
    <a href="{{ path('entreprise_index') }}">Retour à la liste</a><br>

    <table>
        <thead>
        <tr>
            <th>Année</th>
            <th>Elève</th>
            <th>Référent pédagogique</th>
            <th>Référent professionnel</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for internship in interships %}
            <tr>
                <td>{{ internship.startDate|date('Y') }}/ {{ internship.endDate|date('Y') }}</td>
                <td>
                    {% if internship.student is defined and internship.student is not null %}
                        {{ internship.student.fullName }}
                    {% endif %}
                </td>
                <td>
                    {% if internship.educationalReferent is defined and internship.educationalReferent is not null %}
                        {{ internship.educationalReferent.fullName }}
                    {% endif %}
                </td>
                <td>
                    {% if internship.profesionnalReferent is defined and internship.profesionnalReferent is not null %}
                        {{ internship.profesionnalReferent.fullName }}
                    {% endif %}
                </td>
                <td><a href="{{ path('stage_show', {'id': internship.id}) }}">Voir détail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
