{% extends 'base.html.twig' %}
{% block title %}{{ 'app.company.show.title'|trans }}{% endblock %}
{% block body %}
    <div class="container-form">
        <div class="center-align">
            <h1>{{ 'app.company.show.company_informations'|trans }}</h1>
        </div>
        <div class="row">
            {{ form_start(form) }}
            <div class="row">
                <div class="col s4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col s4">
                    {{ form_row(form.type, {"attr": {"class": "select2"}}) }}
                </div>
                <div class="col s4">
                    {{ form_row(form.turnover) }}
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    {{ form_row(form.phoneNumber) }}
                </div>
                <div class="col s6">
                    {{ form_row(form.profesionnalReferent, {"attr": {"class": "select"}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col offset-l4 s4">
                    {{ form_row(form.address, {"attr": {"class": "materialize-textarea"}}) }}
                </div>
            </div>
            <div class="center-align">
                <input type="submit" class="waves-effect waves-light btn indigo darken-4">
                <a href="{{ path('entreprise_index') }}" class="waves-effect waves-light btn indigo darken-4">{{ 'commons.back_to_list'|trans }}</a><br>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container">
        <table class="responsive-table highlight striped">
            <thead>
            <tr>
                <th>{{ 'app.company.show.year'|trans }}</th>
                <th>{{ 'app.company.show.student'|trans }}</th>
                <th>{{ 'app.company.show.educational_referent'|trans }}</th>
                <th>{{ 'app.company.show.profesional_referent'|trans }}</th>
                <th>{{ 'commons.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for internship in interships %}
                <tr>
                    <td>{{ internship.startDate|date('Y') }}/ {{ internship.endDate|date('Y') }}</td>
                    <td>
                        {% if internship.student is defined and internship.student is not null %}
                            {{ internship.student.fullName }}
                        {% endif %}
                    </td>
                    <td>
                        {% if internship.educationalReferent is defined and internship.educationalReferent is not null %}
                            {{ internship.educationalReferent.fullName }}
                        {% endif %}
                    </td>
                    <td>
                        {% if internship.profesionnalReferent is defined and internship.profesionnalReferent is not null %}
                            {{ internship.profesionnalReferent.fullName }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('stage_show', {'id': internship.id}) }}">{{ 'app.company.show.see_details'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
