{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s6">
            <h1>{{ 'app.certificate.index.certificate_list'|trans }}</h1>
            <table>
                <thead>
                <tr>
                    <th>{{ 'app.certificate.index.name'|trans }}</th>
                    <th>{{ 'commons.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for certificate in certificates %}
                    <tr>
                        <td>{{ certificate.name }}</td>
                        <td>
                            <a href="{{ path('diplome_delete', { 'id': certificate.id }) }}">{{ 'commons.delete'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s6">
            <h1>{{ 'app.certificate.index.add_certificate'|trans }}</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="{{ 'commons.add'|trans }}" class="waves-effect waves-light btn indigo darken-4"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
