{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s6">
            <h1>Liste des BAC</h1>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for certificate in certificates %}
                    <tr>
                        <td>{{ certificate.name }}</td>
                        <td>
                            <a href="{{ path('diplome_delete', { 'id': certificate.id }) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col s6">
            <h1>Ajouter un nouveau BAC</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Ajouter" class="waves-effect waves-light btn indigo darken-4"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
