{% extends 'base.html.twig' %}
{% block title %}{{ "app.internship.edit.title"|trans }}{% endblock %}
{% block body %}
    <h1>{{ "app.internship.edit.internship_edit"|trans }}</h1>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="{{ "commons.submit"|trans }}"/>
    {{ form_end(edit_form) }}
    <a href="{{ path('stage_index') }}">{{ "commons.back_to_list"|trans }}</a>
{% endblock %}
