{% extends 'base.html.twig' %}
{% block title %}{{ 'app.internship.list.title'|trans }}{% endblock %}
{% block body %}
    <h3>{{ 'app.internship.list.internship_list'|trans }}</h3>
    <h5>{{ student.fullName }}</h5>

    <div class="container">
        <div class="center-align">
            <a href="{{ path('stage_new', {'id': student.id}) }}"
               class="btn-floating btn-large waves-effect waves-light indigo darken-4">
                <i class="material-icons">add</i>
            </a>
        </div>

        <table class="responsive-table highlight striped">
            <thead>
            <tr>
                <th>{{ "app.internship.list.year"|trans }}</th>
                <th>{{ "app.internship.list.company"|trans }}</th>
                <th>{{ "app.internship.list.educational_referent"|trans }}</th>
                <th>{{ "app.internship.list.profesionnal_referent"|trans }}</th>
                <th>{{ "commons.actions"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for internship in internships %}
                <tr>
                    <td>{{ internship.startDate|date('Y') }}</td>
                    <td>
                        {% if internship.company is defined and internship.company is not null %}
                            {{ internship.company.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if internship.educationalReferent is defined and internship.educationalReferent is not null %}
                            {{ internship.educationalReferent.fullName }}
                        {% endif %}
                    </td>
                    <td>
                        {% if internship.profesionnalReferent is defined and internship.profesionnalReferent is not null %}
                            {{ internship.profesionnalReferent.fullName }}
                        {% endif %}
                    </td>

                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('stage_show', { 'id': internship.id }) }}"
                                   class="waves-effect waves-light btn indigo darken-4">
                                    <i class="material-icons">search</i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
