{% extends 'base.html.twig' %}

{% block body %}
    <h1>Internship</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ internship.id }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if internship.startDate %}{{ internship.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if internship.endDate %}{{ internship.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stage_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stage_edit', { 'id': internship.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
