{% extends 'base.html.twig' %}
{% block title %}{{ "app.internship.show.title"|trans }}{% endblock %}
{% block body %}
    {% if internship.student is defined and internship is not null %}
        <h3>{{ internship.student.fullName }}</h3>
    {% endif %}

    <div class="container">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active">
                    <i class="material-icons">error_outline</i>
                    {{ "app.internship.show.informations"|trans }}
                </div>
                <div class="collapsible-body">
                    <span>
                        <div class="row">
                            <div class="col s6">
                                <p>
                                    {{ "app.internship.show.company"|trans }}
                                    <b>{{ internship.company is not null ? internship.company.name : '' }}</b>
                                </p>
                                <p>
                                    {{ "app.internship.show.technologies"|trans }}
                                    <b>
                                    {% for technology in internship.technologies %}
                                        {{ technology.name }}
                                        {{ loop.last != true ? "," : "" }}
                                    {% endfor %}
                                    </b>
                                </p>
                                <p>
                                    {{ "app.internship.show.professional_referent"|trans }}
                                    <b>{{ internship.profesionnalReferent is not null ? internship.profesionnalReferent.fullName : '' }}</b>
                                </p>
                                <p>
                                    {{ "app.internship.show.educational_referent"|trans }}
                                    <b>{{ internship.educationalReferent is not null ? internship.educationalReferent.fullName : '' }}</b>
                                </p>
                                <p>
                                    {{ "app.internship.show.year_concern"|trans }}
                                    <b>{{ internship.startDate|date('Y') }}</b>
                                </p>
                            </div>
                            <div class="col s6">
                                <p>{{ "app.internship.show.observation"|trans }}</p>
                                <p><b>{{ internship.comment }}</b></p>
                            </div>
                        </div>
                    </span>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">content_paste</i>
                    {{ "app.internship.show.visits"|trans }}
                </div>
                <div class="collapsible-body">
                    <span>
                        <div class="row">
                            <div class="col-s12">
                                <a href="{{ path('visite_new', {'id': internship.id}) }}"
                                   class="btn-floating btn-large waves-effect waves-light right indigo darken-4">
                                    <i class="material-icons">add</i>
                                </a>
                                <h4 class="center-align">{{ "app.internship.show.intenship_visits"|trans }}</h4>
                            </div>

                            <div class="row visit">
                                {% for visit in internship.visit if internship.visit is not null %}
                                <div class="col s12">
                                        <b>{{ visit.dateVisit|date('d/m/Y') }}</b>
                                        <div class="actions">
                                            <a href="{{ path('visite_edit', {'internship': internship.id, 'visit': visit.id}) }}"
                                               class="btn-floating waves-effect waves-light btn indigo darken-4">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                            <a class="btn-floating waves-effect waves-light btn red darken-4 modal-trigger"
                                               href="#modal-delete-visit-{{ visit.id }}">
                                                     <i class="material-icons">delete</i>
                                             </a>
                                            <div id="modal-delete-visit-{{ visit.id }}" class="modal modal-fixed">
                                                <div class="modal-content">
                                                    <div class="center-align">
                                                        <h4>{{ 'app.internship.show.delete_visit'|trans }}</h4>
                                                        <a href="{{ path('visite_delete', {'internship': internship.id, 'visit': visit.id}) }}" class="waves-effect waves-light btn red darken-4">
                                                            {{ 'commons.delete'|trans }}
                                                        </a>
                                                        <a href="#" class="modal-action modal-close waves-effect waves-green btn indigo darken-4">
                                                            {{ 'commons.back'|trans }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p><b>{{ "app.internship.show.observations"|trans }}</b> {{ visit.comment }}</p>
                                    </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </span>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
{% endblock %}
