{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datevisit</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td><a href="{{ path('visite_show', { 'id': visit.id }) }}">{{ visit.id }}</a></td>
                <td>{% if visit.dateVisit %}{{ visit.dateVisit|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ visit.comment }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('visite_show', { 'id': visit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('visite_edit', { 'id': visit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visite_new') }}">Create a new visit</a>
        </li>
    </ul>
{% endblock %}
